<div class="splash-home">
<div class= "splash-head">
<h1 >My Budget App</h1>
<p>A simple app to track your spending.</p>

</div>
<div class="splash-btn">
<%= link_to 'Sign Up', new_user_registration_path %>
<%= link_to 'Log In', new_user_session_path %>
</div>


</div>
  
