<!DOCTYPE html>
<html>
<head>
  <title>My Budget App</title>
</head>
<body>
  <h1>My Budget App</h1>
  <p>A simple app to track your spending.</p>
  <%= link_to 'Sign Up', new_user_registration_path %>
  <%= link_to 'Log In', new_user_session_path %>

</body>
</html>
