<h1>Expenditure</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @expenditures.each do |expenditure| %>
      <tr>
        <td><%= expenditure.name %></td>
        <td>$<%= expenditure.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Total amount: $<%= @total_amount %>
</p>
<a href="/categories/<%= @category.id %>/expenditures/new">Add a new expenditure</a>
<a href="/categories">Back</a>