<h1>Expenditure</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @expenditures.each do |expenditure| %>
      <tr>
        <td><%= expenditure.name %></td>
        <td>$<%= expenditure.amount %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Total amount: $<%= @total_amount %>
</p>
<div class="add-container">
<button class="add-expenditures"><a href="/categories/<%= @category.id %>/expenditures/new">Add a new expenditure</a>
</button>
</div>
<div>
<button class="back"><a href="/categories">Back</a></button>
</div>

